html,
body,
.app {
  height: 80vh;
  padding-top: 1em;
}

.messages {
  height: 60vh;
  overflow-y: scroll;
}

.myMessage {
  border-left: 2px solid red;
  padding-left: 8px;
}

.menu {
  padding-bottom: 5%;
}

.dropzone {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
