html,
body,
.app {
}

.messagesPanel {
  height: 100vh;
  overflow-y: hidden;
  margin-top: 20px;
}

.messages {
  overflow-y: scroll;
  height: 57vh;
}

.myMessage {
  border-left: 2px solid red;
  padding-left: 8px;
}

.menu {
  padding-bottom: 5%;
}

.dropzone {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messageForm {
  margin-top: 1em !important;
}

.friendsSegment {
  overflow-x: hidden;
}

.iconColor {
  color: #373a6d !important;
}
