html,
body,
.app {
  height: 100vh;
  background: #eee;
  padding: 1em;
}

.messages {
  height: 50vh;
  overflow-y: scroll;
}

.messageForm {
  position: fixed !important;
  bottom: 1em;
  margin-left: 300px !important;
  left: 0;
  right: 1em;
  z-index: 100;
}

.MyMessage {
  border-left: 2px solid orange;
  padding-left: 8px;
}

.messageImage {
  padding-right: 3%;
}

.menu {
  padding-bottom: 5%;
}

.dropzone {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidePanel {
  overflow-y: scroll;
}
